body {
  margin: 0;
  overflow: hidden;
  background: rgb(40, 40, 80);
}

.firefly {
      position: fixed;
      left: 50%;
      top: 50%;
      width: 0.4vw;
      height: 0.4vw;
      margin: -0.2vw 0 0 9.8vw;
      animation: ease 200s alternate infinite;
      pointer-events: none;
    }
    
    .firefly::before,
    .firefly::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transform-origin: -10vw;
    }
    
    .firefly::before {
      background: black;
      opacity: 0.4;
      animation: drift ease alternate infinite;
    }
    
    .firefly::after {
      background: white;
      opacity: 0;
      box-shadow: 0 0 0vw 0vw yellow;
      animation: drift ease alternate infinite, flash ease infinite;
    }
    
    @keyframes drift {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
    
    @keyframes flash {
      0%, 30%, 100% {
        opacity: 0;
        box-shadow: 0 0 0vw 0vw yellow;
      }
      5% {
        opacity: 1;
        box-shadow: 0 0 2vw 0.4vw yellow;
      }
    }